.user-profile {
    display: flex;
    flex-direction: column;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    margin-top:4px;
  }
  
  .actions-section,
  .details-section {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }

  .list-view{
    list-style: "none";
  }
  
  @media (min-width: 768px) {
    .user-profile {
      flex-direction: row;
    }
  
    .details-container {
      flex-direction: row;
    }
  
    .details-section,
    .actions-section {
      flex: 1;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
  