.mainContainer {
  display: flex;
  margin-bottom: 100px;
}

.headingBox{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar {
  width: 20%;
  padding: 1em;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.sidebarButton {
  margin-bottom: 10px;
  cursor: pointer;
  border-color: black;
  border-radius: 4px;
  background-color: #F5F0FF;
  color: black;
}

.contentArea {
  width: 80%;
  padding: 1em;
}



/* Mobile Layout */
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }

  .sidebar {
    width: 90%;
    border-right: none;
  }

  .contentArea {
    width: 100%;
  }
}
